.button {
  display inline-block
  padding 12px
  border 1px solid #374B95
  border-radius 3px
  background rgb(68, 119, 229)
  color rgba(255, 255, 255, .85)
  text-decoration none
  text-transform uppercase
  font-weight bold
  font-size 14px
  line-height 14px
  cursor pointer
}

.button:hover {
  border-color #334285
  background rgb(68, 109, 213)
}

.button:active,
.button.pressed {
  border-color #334285
  background rgb(68, 109, 213)
  box-shadow inset 0 0 15px rgba(0, 0, 0, .7)
}

.button.danger {
  border-color #6F260C
  background #BF360C
}

.button.danger:hover,
.button.danger:active,
.button.danger.pressed {
  border-color #5F260C
  background #ae350c
}

.button.normal {
  border-color #939799
  background #E3E7E9
  color rgb(51, 52, 53)
  text-transform none
  font-weight normal
}

.button.normal:hover,
.button.normal:active,
.button.normal.pressed {
  border-color #5c79a7
  background #82ADF7
}