.list-flat .item {
  display inline-block
  margin-right 8px
  padding 10px 12px
  border 1px solid #D1D8DF
  border-radius 3px
  background white
  text-decoration none
  font-size 16px
  line-height 1
  cursor pointer
}

.list-flat .item:hover {
  border 1px solid #b8bfc6
  background #e6e6e6
  color black
}